<div class="sponsor">

    
    <img src="assets/imgs/Auspicia/IMG_12.jpg" draggable="false" style="width: 100%;" alt="">

    <div class="custom-container">


        <div style="padding: 5rem;" class="text-center">
            <h1 class="general-subtitle normal-text"><b>Atualizamos o nosso kit de negócio para torná-lo cada vez mais vencedor! </b></h1>

            <h5 class="general-text mb3">Agora os novos Empresários receberão o seu <b>kit de negócio com produtos Irresistíveis</b>, entre outros do nosso portfólio, para que conheçam os seus atributos e possam ganhar mais ao vende los desde o início.</h5>

            <button (click)="openLink2()" class="general-btn" style="background: #85BE00;">Saiba mais</button>

           
        </div>
        <div style="padding: 4rem;" class="text-center">
            <h1 class="general-subtitle normal-text"><b>Benefícios para começar ganhando</b></h1>
        <h5 class="general-text mb3">A primeira dica para começar a ganhar com a Amway é conhecer todos os benefícios que temos para você nos seus primeiros 90 dias:</h5>


        <div class="row">
            <div class="col-12 col-md-4">
                <div class="text-center" style="padding: 2rem;">
                    <img src="assets/imgs/Auspicia/descuento.png" class="mb1" style="width: 50%" alt="">
                    <div class="general-text">
                        30% de <b class="bold-text">DESCONTO</b> imediato em todas as suas compras
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-center" style="padding: 2rem;">
                    <img src="assets/imgs/Auspicia/carrito.png" class="mb1" style="width: 50%" alt="">
                    <div class="general-text">
                        3 Fretes <b class="bold-text">GRÁTIS</b>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-center" style="padding: 2rem;">
                    <img src="assets/imgs/Auspicia/cascos.png" class="mb1" style="width: 50%" alt="">
                    <div class="general-text">
                        Atendimento <b class="bold-text">PRIORITÁRIO</b> na Central de Relacionamento
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="justify-content: center;">
            <div class="col-12 col-md-4">
                <div class="text-center" style="padding: 2rem;">
                    <img src="assets/imgs/Auspicia/aprendizaje.png" class="mb1" style="width: 50%" alt="">
                    <div class="general-text">
                        Trilha de <b class="bold-text">APRENDIZAGEM</b> com o INA
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-center" style="padding: 2rem;">
                    <img src="assets/imgs/Auspicia/iniciaganando.png" class="mb1" style="width: 50%" alt="">
                    <div class="general-text">
                        Cupons de <b class="bold-text">DESCONTO</b> imediato com o programa “Inicie ganhando ilimitado”
                    </div>
                </div>
            </div>
        </div>

        <button (click)="openLink()" class="general-btn" style="background: #85BE00;">Saiba mais</button>
        
        <div style="padding: 2rem;" class="text-center"></div>
    </div>


    </div>
    <div style="width: 100%; text-align: end;">
        <button (click)="goTo()" class="go-to-top">
            <img src="assets/imgs/Por_Que_Naturales/flecha.png" style="width: 40px;" alt="">
        </button>
    </div>
</div>