<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <div class="sidebar-items">
        <button [routerLink]="['/why-irresistible']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">POR QUE SÃO NATURALMENTE IRRESISTÍVEIS?</h4></button>
        <button (click)="toggle()" type="button" ><h4 class="general-subtitle mb0">PRODUTOS</h4></button>
        
        <div class="submenu" [ngClass]="{ 'open': isOpenSubMenu }" >
            <!--button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Nutrición</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Belleza</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Cuidado Personal</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Hogar</button-->
            
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button" class="general-text mb0">Todos</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/1']" type="button" class="general-text mb0">Daily Plus</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/2']" type="button" class="general-text mb0">Cal Mag D</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/3']" type="button" class="general-text mb0">Proteína Vegetal</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/4']" type="button" class="general-text mb0">Ômega 3</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/5']" type="button" class="general-text mb0">Acerola C</button>
<!--             <button (click)="isOpen = false; close();" [routerLink]="['/product/6']" type="button" class="general-text mb0">Vitamina B</button>
 -->            <!--button (click)="isOpen = false; close();" [routerLink]="['/product/7']" type="button" class="general-text mb0">HSN</button-->
            <button (click)="isOpen = false; close();" [routerLink]="['/product/6']" type="button" class="general-text mb0">Água Micelar</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/7']" type="button" class="general-text mb0">Glister Creme Dental</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/8']" type="button" class="general-text mb0">Loção Hidratante Corporal Refrescante</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/9']" type="button" class="general-text mb0">LOC™ Limpador Multiuso</button>
        </div>
        
        <button (click)="toggle2()" type="button" ><h4 class="general-subtitle mb0">INGREDIENTES</h4></button>

        <div class="submenu" [ngClass]="{ 'open': isOpenSubMenu2 }" >
            <button (click)="isOpen = false; close();" [routerLink]="['/ingredients/1']" type="button" class="general-text mb0">Produtos naturais e beleza</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/ingredients/2']" type="button" class="general-text mb0">Produtos de cuidados pessoais e Amway Home</button>
        </div>
        <button [routerLink]="['/solutions']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">SOLUÇÕES</h4></button>
        <button [routerLink]="['/tools']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">FERRAMENTAS</h4></button>
        <button [routerLink]="['/sponsors']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">CADASTRE-SE</h4></button>
        <button type="button" (click)="openLink()" ><h4 class="general-subtitle mb0">COMPRE</h4></button>
    </div>
</div>