
    <img src="assets/imgs/Productos/img 11.jpg" draggable="false" class="banner-img" alt="">

<div class="why-irresistible" >
    
    <div class="custom-container" style="position: relative;">
        
        <div class="text-center">
            <h1 class="general-subtitle normal-text" >O que são os produtos  <b class="bold-text">Naturalmente Irresistíveis</b>?</h1>
        
            <h4 class="general-text" >São uma seleção de produtos do nosso portfólio que ajudam a se conectar com as necessidades dos seus <b class="blue">clientes</b> para que você  <b class="blue">venda e ganhe mais</b>.</h4>
            
            <h1 class="general-subtitle normal-text">Por que são <b class="bold-text">Naturalmente Irresistíveis</b>?</h1>    
        </div>

        <div class="row" style="position: relative;">
            <div *ngFor="let item of whyIrresistibles" class="col-12 col-md-6 col-lg-3">
                
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="irresistible-card" >
                                <div>
                                    <h5>{{ item.smallTitle }}</h5>
                                    <h2>{{ item.bigTitle }}</h2>
                                </div>
                                
                                <img [src]="item.img" draggable="false" alt="">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="irresistible-detail-card">
                                <img [src]="item.icon" draggable="false" alt="">
                                
                                <h6 class="general-small-text" (click)="goToSection(item.goTo)" [innerHtml]="item.description"></h6>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div id="naturalIngredients" class="natural-ingredients">
    <img src="assets/imgs/Por_Que_Naturales/IMG_5.jpg" class="img" draggable="false" alt="">
    <div class="content">

        <h1 class="general-subtitle normal-text text-center">
            <img src="assets/imgs/Por_Que_Naturales/ICON_7.png" draggable="false" class="title-icon" alt=""> Ingredientes <b class="bold-text" style="margin-left: 5px; "> Naturais</b>
        </h1>

        <h3 class="general-text">O poder da natureza está em cada um dos nossos produtos. <br><br>Com o processo único de <b class="bold-text">rastreabilidade</b>, asseguramos que os ingredientes sejam <b class="bold-text">puros, seguros e eficazes.</b> <br> <br>Saiba mais sobre o processo nesta infografia.</h3>
    
        <!--a href="https://www.amway.com.mx/downloads/misc/Nut_Trace_Pictohistoria.pdf">
            <button class="general-btn">Baixar</button>
          </a--> 

        <div class="row mt2" style="width: 100%;">
            <div class="col-12 col-md-6 text-center">
                <img class="mb2" style="width: 100%;" src="assets/imgs/Por_Que_Naturales/IMG_8.png"  alt="">
                <button class="general-btn" [routerLink]="['/ingredients/1']">Saiba mais</button>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img class="mb2" style="width: 100%;" src="assets/imgs/Por_Que_Naturales/IMG_9.png"  alt="">
                <button class="general-btn"  [routerLink]="['/ingredients/1']">Saiba mais</button>
            </div>
        </div>
    </div>
</div>


<div id="certificateQuality" class="why-irresistible2" >
    <div class="custom-container">

        <div class="text-center">
            <h1 class="general-subtitle flex-center">
                <img src="assets/imgs/Por_Que_Naturales/ICON_5.png" draggable="false" class="title-icon" alt="">Produtos de alta qualidade</h1>
        
            <h4 class="general-text normal-text">O melhor da natureza e o melhor da ciência, com a <span class="bold-text">qualidade garantida </span>da semente até o produto final.</h4>
        </div>
    </div>

    <div class="logos-section">
        <div class="custom-container">
            <div class="row" style="justify-content: center;" >
                <div class="col-12 col-md-6" style="padding: 2rem;">
                    <div class="text-center img-card">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_1.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <a href="http://www.portalnutrilite.com.br/rastreabilidade/"><button class="general-btn mb1" type="button">Saiba mais</button></a> 
                    </div>
                </div>
                <div class="col-12 col-md-6" style="padding: 2rem;">
                    <div class="text-center img-card">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_2.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <a href="https://www.artistry.lat/"><button class="general-btn mb1" type="button">Saiba mais</button></a> 
                    </div>
                </div>
                <div class="col-12 col-md-6" style="padding: 2rem;" >
                    <div class="text-center img-card">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_3.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <a href="https://www.artistry.lat/"><button class="general-btn mb1" type="button">Saiba mais</button></a> 
                    </div>
                </div>
                <div class="col-12 col-md-6" style="padding: 2rem;" >
                    <div class="text-center img-card">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_10.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <a href="https://www.artistry.lat/"><button class="general-btn mb1" type="button">Saiba mais</button></a> 
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div style="width: 100%; text-align: end;">
        <button (click)="goTo()" class="go-to-top">
            <img src="assets/imgs/Por_Que_Naturales/flecha.png" style="width: 40px;" alt="">
        </button>
    </div>

</div>

